<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.honeykomb.honeykomb">

    <uses-feature android:name="android.hardware.camera" />

    <permission
        android:name="com.honeykomb.honeykomb.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.honeykomb.honeykomb.permission.MAPS_RECEIVE" />
    <permission
        android:name="com.honeykomb.honeykomb.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--<uses-permission android:name="com.honeykomb.honeykomb.permission.C2D_MESSAGE" />-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission
        android:name="android.permission.SET_DEBUG_APP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.hardware.camera.autofocus" />

    <!--<uses-permission android:name="com.honeykomb.honeykomb.permission.MAPS_RECEIVE" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name="com.honeykomb.honeykomb.service.NetworkChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LogInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.MainScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.SignUpName"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.honeykomb.honeykomb.activity.HKAnimationNew"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.honeykomb.honeykomb.activity.AddEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.honeykomb.honeykomb.activity.NotificationsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.honeykomb.honeykomb.activity.DemoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name="com.honeykomb.honeykomb.utils.NotificationReceiverActivity"
            android:theme="@style/Theme.UserDialog" />

        <activity
            android:name="com.honeykomb.honeykomb.activity.EventDetails"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.honeykomb.honeykomb.activity.ContactSelected"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.honeykomb.honeykomb.activity.Contact"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.honeykomb.honeykomb.activity.SelectedListOfInvitees"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name="com.honeykomb.honeykomb.activity.EditEventDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.honeykomb.honeykomb.activity.EventLocationMapView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.honeykomb.honeykomb.activity.TermsOfUseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.honeykomb.honeykomb.activity.PrivacyPolicy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--Fabric Api keys-->

        <meta-data
            tools:replace="android:value"
            android:name="io.fabric.ApiKey"
            android:value="d23911c9bf12ff9dc648fea0ea7131a710487c06" />
        <meta-data
            android:name="io.fabric.ApiSecret"
            android:value="aca25dd9fc40342b66a862d2b99ea66473665ec94cedd590a5befeaf442aef66" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/launch" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/headerTextSelected" />

        <!--geo location enable api key-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQ8rNKGBD_15-Z7_CozbV1afhN7W4Co9w" />

        <meta-data
            android:name="com.package.name"
            android:value="${applicationId}" />

        <!-- Firebase Notifications -->
        <service android:name="com.honeykomb.honeykomb.firebase.HKFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.honeykomb.honeykomb.firebase.HKFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.honeykomb.honeykomb.service.SendAllActivityToServer"
            android:exported="false" />

        <service
            android:name="com.honeykomb.honeykomb.service.IntentServiceForNotification"
            android:exported="false" />
        <service
            android:name="com.honeykomb.honeykomb.service.GetContactsFromServer"
            android:exported="false" />

        <service
            android:name="com.honeykomb.honeykomb.service.ContactsService"
            android:exported="false" />

        <service
            android:name="com.honeykomb.honeykomb.service.SendOverDueActivities"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>